body {
    background-color:#D9D9D9;
    margin: 0px;
}

header #ParteCima { /*retangulo azul */
    width: 1349px;
    height: 185px;

border: 1px solid #3b4c80;
background: #4169E1;
}

#TitPrincipal {

    width: 545px;
    height: 22px;
    margin: 47px;

color: #F9F9F9;
font-family: Kalnia;
font-size: 64px;
font-weight: 500;
}

#Frase {
    width: 949px;
    height: 155px;
    flex-shrink: 0;
    margin: 47px;

color: #121233;
font-family: Kameron;
font-size: 40px;
font-weight: 400;
}

nav {
    background-color: #b6b6b6;
    border: 1px solid #979494;
    padding: 15px;
}

nav a {
    color:#000000;
    display: inline;
    margin: 15px;
    padding: 20px;
    

color: #000;
font-family: Kalnia;
font-size: 25px;
font-weight: 400;
}